body {
  margin: 0;
  background: #555;
  color: #fff;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
#turn {
  position: absolute;
  text-align: center;
  width: 100%;
}
#start {
  position: fixed;
  display: block;
  top: 2em;
  width: 10em;
  height: 3em;
  margin-left: -5em;
  left: 50%;
}
#units-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
}
#units-list li {
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #ccc;
    float: left;
    list-style-type: none;
    width: 111px;
    height: 128px;
    overflow: hidden;
}
#units-list li:hover {
    background: #666;
    cursor: pointer;
}
#units-list .selected {
    background: #222!important;
}
.stage {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#login-stage, #lobby-stage {
    width: 400px;
    margin-left: -200px;

    height: 250px;
    margin-top: -125px;

    padding: 8px;
    top: 50%;
    left: 50%;
    background: #333;
}
#login-stage > label, #login-stage > input {
    display: block;
    width: 100%;
    padding: 8px;
}

#login-stage > button {
    margin-top: 25px;
    width: 100%;
    height: 60px;
    padding: 10px;
}